* {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

body {
    align-items: center;
    justify-content: center;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 4em;
    font-size: 20px;
}

.container {
    background-color: #FDAFB1;
    height: 660px;
    width: 700px;
    padding: 20px;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 50%;
    transform: translate(-50%, -10%);
}

.header, .footer {
    background-color: #98D1C7;
    height: 50px;
    width: 650px;
    display: flex;
    padding: 10px;
}

.article, .aside {
    display: inline-flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.aside {
    background-color: #63B8B7;
    height: 450px;
    width: 200px;
    padding: 10px;
    margin-left: 14px;
}

.article {
    background-color: #FA7A7B;
    height: 450px;
    width: 409px;
    margin-left: 19px;
    padding: 10px;
}

.article p {
    margin-left: 160px;
}

.image {
    display: inline-flex;
    margin-left: -50%;
    margin-right: 40%;
}

.image img {
    width: 115px;
    height: 115px;
    margin-top: 200px;
    margin-left: 10px;
}

